<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{/fragment/common-fragment :: head(电影添加)}"></div>
<body>
<div class="wrapper">
    <!--header-->
    <div th:replace="~{/fragment/common-fragment :: admin}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <h2 class="page-heading">MoviesAdd</h2>

            <form method="post" action="/api/upload" enctype="multipart/form-data">
            <!-- MovieService preview item -->
            <div class="movie movie--preview movie--full release">
                <div class="col-sm-3 col-md-2 col-lg-2">
                    <div class="movie__images">
                        <input type="file" id="poster" name="attact">
                    </div>
                </div>

                <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                    <span class="bb"><strong>电影名称: </strong></span><input id="name" name="name"  type="text" style="text-align: left;border: black 1px solid" class=" link--huge"/>
                    <br /><br />
                    <span class="bb"><strong>放映时长: </strong></span><input id="duration" name="duration"  type="text" style="text-align: left;border: black 1px solid" class=" link--huge"  th:text="min" />
                    <br /><br />
                    <span class="bb"><strong>国家: </strong></span><input  id="country" name="country"  type="text" style="text-align: left;border: black 1px solid"  class=" link--huge"/>
                    <br /><br />
                    <span class="bb" ><strong>类型: </strong>
                    <div id="typ" style="width: 800px;"></div>
                    </span>
<!--                    <select name="categories" id="categories" required style="text-align: left;border: black 1px solid" class=" link&#45;&#45;huge"></select>-->
                    <br /><br />
                    <span class="bb"><strong>放映时间: </strong></span><input id="releaseDate" name="movieTime"  type="text" style="text-align: left;border: black 1px solid" class=" link--huge"/>
                    <br /><br />
                    <span class="bb"><strong>导演: </strong></span><input id="directors" name="directors"  type="text" style="text-align: left;border: black 1px solid" class=" link--huge"/>
                    <br /><br />
                    <span class="bb"><strong>演员: </strong></span><input id="actors" name="actors"  type="text" style="text-align: left;border: black 1px solid"  class=" link--huge"/>
                    <br /><br />
                    <span class="bb"><strong>电影简介: </strong></span><input id="plot" name="plot"  type="text" style="text-align: left;border: black 1px solid"  class=" link--huge"/>
                    <br /><br />
                    <span class="bb"><strong>电影状态: </strong></span><input id="status" name="status"  type="text" style="text-align: left;border: black 1px solid"  class=" link--huge"/>（0 or 1）
                    <br /><br />
                    <input type="submit" class="aa" id="add"></input>

                </div>
                <div class="clearfix"></div>
            </div>

            </form>
        </div>
    </section>

    <div class="clearfix"></div>

</div>



<!-- footer -->
<div th:insert="~{/fragment/common-fragment :: footer}"></div>


<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript -->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<style>
    .bb{
        width: 125px;
        height: 32px;
        line-height: 32px;
        display: inline-block;
    }
    .aa{
        margin-left: 200px;
        width: 100px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: black;
        font-size: 20px;
        background-color: #ffc936;
        display: inline-block;
        cursor: pointer;
    }
    input[type="checkbox"]{
        margin-left: 10px;
        display: inline-block;
    }
</style>
<script type="text/javascript">
    $(function () {
        var movieRole=$("#typ");;
        $.ajax({
            type:"Get",//请求类型
            url:"http://localhost:8111/api/categories/all",//请求的url
            dataType:"json",//ajax接口（请求url）返回的数据类型
            success:function(data){//data：返回数据（json对象）
                if(data != null){
                    // movieRole.html("");
                    options=""
                    for(var i = 0; i < data.length; i++){
                        options+=`<input name="type" id="categories" type="checkbox" value="${data[i].id}" />${data[i].name}`
                    }
                    movieRole.append(options);
                }
            }
        });
    })
</script>
</body>
</html>